* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "batangasbold";
  src: url("batangas_bold_700-webfont.woff2") format("woff2"),
    url("batangas_bold_700-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  text-align: left;
  font-family: "batangasbold", Arial, sans-serif;
  padding-bottom: 30px;
  padding-left: 10px;
  width: 100%;
  height: 8vh;
}

.mainContent {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
}

.player {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-left: 2rem;
}

.chatbot {
  width: 50%;
  height: 100%;
}

body {
  overflow-x: hidden;
  background: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #00f30c;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

.heading {
  color: #000;
  text-align: center;
  text-shadow: 2px 1px #848484;
  font-size: 2.8rem;
  font-weight: 600;
}

.container {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(202, 193, 193);
  border-radius: 20px;
}

#music-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.genres {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.genres span {
  font-weight: bolder;
}

.genres ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.genres ul li{
  padding: 2px;
  list-style: none;
  text-align: center;
  width: 20px;
  height: 20px;
  outline: none;
  border: none;
  border-radius: 15px;
  transition: 0.5s;
  background-color: black;
  color: white;
  font-weight: bold;
}

.genres ul li:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.582);
}

.genres button {
  width: 20px;
  height: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
  background-color: black;
  color: white;
  font-weight: bolder;
}

.genres button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.582);
}

#title,
#artist {
  margin: 5px;
}

#cover-box img {
  border-radius: 20px;
  width: 150px;
  height: 150px;
}

.controls {
  display: flex;
  flex-direction: row;
}

.fas {
  color: rgb(85, 81, 81);
  padding: 5px;
  margin: 20px 2px;
  transition: 0.5s;
}

.fas:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
}

#progress-container {
  height: 4px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 2rem 0 1rem;
  cursor: pointer;
  border-radius: 8px;
}

#progress {
  background-color: #000;
  width: 0%;
  height: inherit;
  border-radius: inherit;
  transition: width 100ms ease-in;
}

#timer-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-size: 1.4rem;
}



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #0a0101;
  font-size: 15px;
  font-family:"batangasbold", Arial, sans-serif ;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}